<h1>《传奇商店》还米有起好名字的小破站</h1>
<h2>关于本站</h2>
<p>
    本站是个<em>《传奇商店》</em>游戏相关工具与攻略的合集网站， 提供简体中文与英文双语支持， 所有游戏相关数据均来自：
</p>
<ul>
  <li><%= link_to "传奇商店Google Spreadsheet", "https://docs.google.com/spreadsheets/d/1WLa7X8h3O0-aGKxeAlCL7bnN8-FhGd3t7pz2RCzSg8c" %></li>
  <li><%= link_to "传奇商店官方网站", "https://playshoptitans.com/" %></li>
  <li><%= link_to "ST Central 传奇商店攻略网站", "https://st-central.net/" %></li>
</ul>
<p>
    这是个个人Ruby on Rails项目， 也是我第一个包含前端设计的单人项目， 所以刚发布的时候它可能看起来不会太美观，因此欢迎任何人提出你的建议。如果你有任何关于：
    <ul>
      <li>页面美观度</li>
      <li>任何你认为有用但没有在网上找到的工具或功能</li>
      <li>任何你发现不准确的数据（数据错误或过期数据）</li>
    </ul>
    的建议，欢迎给我发邮件到<%= link_to "zhimo.ye.web@gmail.com", "mailto:zhimo.ye.web@gmail.com" %> 提出
</p>
