<h1>Shop Titans Tool Web</h1>
<h2>About the Website</h2>
<p>
  This is a bi-lingual website of tools and guide 
  information, supporting Simplified Chinese (Mandarin) 
  and English. All data sources are extracted from:
</p>
<ul>
  <li><%= link_to "Shop Titans Data Spreadsheet", "https://docs.google.com/spreadsheets/d/1WLa7X8h3O0-aGKxeAlCL7bnN8-FhGd3t7pz2RCzSg8c" %></li>
  <li><%= link_to "Shop Titans Official Website", "https://playshoptitans.com/" %></li>
  <li><%= link_to "ST Central", "https://st-central.net/" %></li>
</ul>
<p>
  This is a personal Ruby on Rails Project, as well as my first individual web application including front-end designing, 
  so it may not have a good look as it launched and any advices would be appreciated. If you have any advices on:
    <ul>
      <li>Interface appearance</li>
      <li>Features you think are useful to you but could not be found online</li>
      <li>Data you found that is wrong or out-dated</li>
    </ul>
  Please feel free to eamil me at <%= link_to "zhimo.ye.web@gmail.com", "mailto:zhimo.ye.web@gmail.com" %>
</p>
