<div>
  <%= month_calendar events: @events do |date, events| %>
    <div>
      <div class="date"><%= date.day %></div>
      <% events.each do |event| %>
        <p>
          <%= image_tag event.icon_url, alt: "event.rewards" %>
          <%= "#{event.name}#{I18n.t(event.category)}" %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

