#blueprints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      list-style: none;
      text-decoration: none;
      color: white;
    }

}

.blueprint {
  background-color: #864868; 
  width: 10rem;
  margin: 3px;
  padding: 3px;
  text-align: center;
  height: 15rem;

  .resources_listing{
    display: flex;

    .crafting_resource{
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: 2em;
      }
    }
  }
    
}

#blueprint_filters {
  position: sticky;
  top: 3em;
  background-color: #864868;
  color: white;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .filter {
    display: flex;
    align-items: center;
  }

  .filter_name {
    width: 4.5em;
    text-align: center;
  }

  label {
    margin: 5px;
    width: 2em;
    height: 2em;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    
  }

  button {
    padding: 0;
    margin: 5px;
    background-color: #864868;
  }
  input[type=checkbox]:checked + label {
    margin: 5px;
    width: 2em;
    background-color: #5f3741;
  }

  img {
    width: 30px;
    display: block;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }
}