#blueprints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.blueprint {
    width: 10rem;
    margin: 3px;
}

#blueprint_filters {
  background-color: #864868;
  color: white;

  input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .filter {
    display: flex;
    align-items: center;

  }

  .filter_name {
    width: 4.5em;
    text-align: center;
  }

  label {
    margin: 5px;
    width: 2em;
    height: 2em;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    
  }

  button {
    padding: 0;
    margin: 5px;
    background-color: #864868;
  }
  input[type=checkbox]:checked + label {
    margin: 5px;
    width: 2em;
    background-color: #5f3741;
  }

  img {
    width: 30px;
    display: block;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
  

  /* .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f5229;
  } */
  /* .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
  } */

/* .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
    background-color: grey;
  } */