nav {
    position: sticky !important;
    top: 0px;
    background-color: rgb(61, 61,61);
    width: 100%;
    font-weight: 900;
    font-size: larger;
    display: flex;
    justify-content: space-between;

    #language-switch {
        align-content: center;
        select {
            margin-right: 1em;
            appearance: none;
            width: 8.75em;
            font-size: 1rem;
            padding: 0.6em;
            background-color: rgb(125, 125, 125);
            color: white;
            cursor: pointer;
            border: 1px solid rgb(80, 80, 80);
            border-radius: 0.5rem;
        }
    }

    img {
        height: 3em;
    }

    ul {
        display: flex;
        height: 3em;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding-left: 1rem;
            padding-right: 1rem;
            align-content: center;

            &:hover {
                background-color: rgb(125, 125, 125);
            }

        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    .active {
        background-color: slategray;
        &:hover {
            background-color: slategray;
        }
    }
}
